<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <style>
        #app {
            width: 600px;
            margin: 10px auto;
        }

        .tb {
            border-collapse: collapse;
            width: 100%;
        }

        .tb th {
            background-color: #0094ff;
            color: white;
        }

        .tb td,
        .tb th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }

        .add {
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <div id="app">
        <brand-manager></brand-manager>

        <hr>

        <test></test>
    </div>

    <!-- 组件的template -->
    <template id="templateId">
        <div>

            <div class="add">
                编号:
                <input v-model="id" type="text"> 品牌名称:
                <input v-model="name" @keyup.enter="add" type="text">
                <input type="button" @click="add" value="添加">
            </div>

            <div class="add">
                品牌名称:
                <input type="text" v-model="keyword" @keyup.13="search" placeholder="请输入搜索条件">
            </div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <!-- 动态生成内容tr -->
                <tr v-if="list.length==0">
                    <td colspan="4">没有数据了哦</td>
                </tr>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dateFmt('/')}}</td>
                    <td>
                        <a href="javascript:void(0)" @click="deleteBrand(item.id)">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </template>
    
</body>
<script>
    //定义全局过滤器
    /**
        全局过滤器的函数，也必须接收参数，并且最终将过滤处理的结果，返回回去

        input还是代表管道符前面的原始数据
        后面还可以接别的参数，别的参数，会赋值给，我们过滤器的第二个开始的形参，以此类推
    */
    Vue.filter('dateFmt', function (input, operator,operator2) {
        const year = input.getFullYear()

        const month = input.getMonth() + 1

        const day = input.getDate()

        return year + operator + month + operator + day
    })

    //定义和注册组件
    //关于命名约定 https://cn.vuejs.org/v2/guide/components.html#%E7%BB%84%E4%BB%B6%E5%91%BD%E5%90%8D%E7%BA%A6%E5%AE%9A
    Vue.component('brandManager', {
        template: "#templateId",
        data() {
            return {
                id: '',
                name: '',
                keyword: '',
                list: [
                    { id: 1, name: '宝马', ctime: new Date() },
                    { id: 2, name: '奥迪', ctime: new Date() }
                ],
                oldList: []
            }
        },
        methods: {
            //增加
            add() {
                this.list.push({ id: this.id, name: this.name, ctime: new Date() })

                //清空
                this.id = ''
                this.name = ''

                this.oldList = this.list
            },
            //根据id删除
            deleteBrand(id) {
                //es6的新语法
                //http://es6.ruanyifeng.com/#docs/array#%E6%95%B0%E7%BB%84%E5%AE%9E%E4%BE%8B%E7%9A%84-find-%E5%92%8C-findIndex
                const index = this.list.findIndex(function (item, index, arr) {
                    return item.id === id;
                })

                //删除
                this.list.splice(index, 1)

                this.oldList = this.list
            },
            //根据关键字搜索
            search() {
                if (this.keyword.trim().length == 0) {
                    this.list = this.oldList

                    return
                }

                //利用数组的filter方法去过滤我们元素，过滤出来之后，会形成一个新的数组
                //参考:http://www.runoob.com/jsref/jsref-filter.html
                const newList = this.list.filter(function (item, index, arr) {
                    //es6中，判断我们字符串中，是否包含得有某个字符，使用includes
                    //参考：http://es6.ruanyifeng.com/#docs/string#includes-startsWith-endsWith
                    return item.name.includes(this.keyword)
                }, this)

                //把过滤出来的新数组，赋值给list
                this.list = newList
            }
        }
    })

    Vue.component('test', {
        template: '<div>我是用来测试时间的 {{date | dateFmt("-","/")}}</div>',
        data() {
            return {
                date: new Date()
            }
        },
        filters: {
            dateFmt(input, operator) {
                const year = input.getFullYear()

                const month = input.getMonth() + 1

                const day = input.getDate()

                return year + "#" + month + "#" + day
            }
        }
    })

    const vm = new Vue({
        el: "#app"
    })
</script>

</html>