<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>
<body>
    <div id="app">
        通过事件<br/>
        <input v-model="firstName" @keyup="getChange" type="text">
        <input v-model="lastName"  @keyup="getChange" type="text">
        {{result}}

        <br/><br/><br/>

        通过计算属性<br/>
        <input v-model="firstName" type="text">
        <input v-model="lastName" type="text">
        {{fullName}}
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        data:{
            firstName:'1',
            lastName:'',
            result:''
        },
        computed:{//计算属性
            fullName(){
                // console.log("222222222")
                return this.firstName + " " +this.lastName

            }
        },
        methods:{
            getChange(){
                console.log("333333333")
                this.result =  this.firstName + " " +this.lastName
            }
        }
    })
    console.log(this)
</script>
</html>