<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="v1" type="text"> +
        <input v-model="v2" type="text">
        <button @click="getSum">=</button>
        <input v-model="v3" type="text">
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                v1:null,
                v2:null,
                v3:''
            },
            methods: {
                getSum() {
                    this.v3=parseInt(this.v1)+parseInt(this.v2);
                }
            }
        })
    </script>
</body>

</html>