<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="firstName" type="text">
        <input v-model="lastName" type="text">
        {{result}}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                firstName:'',
                lastName:'',
                result:'',
            },
            watch:{
                firstName:function(newValue,oldValue){
                    this.result = this.firstName+ " " + this.lastName;
                },
                lastName:function(newValue,oldValue){
                    this.result = this.firstName+ " " + this.lastName;
                }
            }
        })
    </script>
</body>

</html>